*{
    transition: 0.5s;
}
body{
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
body, p, h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
header{
    width: 100vw;
    height: 50px;
    background: rgb(212, 112, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-size: 25px;
    color: white;
}
header p{
    font-size: 15px;
    color: white;
}
.card-form{
    margin-left: 50px;
    margin-top: 50px;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: rgb(143, 3, 185);
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid rgb(143, 3, 185);
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    color: black;
    border-bottom: 1px solid rgb(143, 3, 185);
    -webkit-box-shadow: 0 1px 0 0 rgb(143, 3, 185);
    box-shadow: 0 1px 0 0 rgb(143, 3, 185);
}
input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus{
    border-bottom: 1px solid rgb(143, 3, 185);
    -webkit-box-shadow: 0 1px 0 0 rgb(143, 3, 185);
    box-shadow: 0 1px 0 0 rgb(143, 3, 185);
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: rgb(143, 3, 185);
}
.submit{
    padding: 15px 15px !important;
    background: rgb(212, 112, 243) !important;
    color: white;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 10px;
    outline: none;
    border: none;
}
.grid{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card-title{
    display: block;
    padding-left: 24px;
    padding-top: 24px;
}
.preloader-wrapper{
    display: block;
    margin: 0 auto;
}
.customToast{
    background: rgb(143, 3, 185);
    color: white;
}
.favourite{
    top: 80px;
    right: 50px;
    position: absolute;
    background: rgb(212, 112, 243);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    z-index: 10;
    border-radius: 5px;
}
.favourite:hover{
    background: rgb(216, 28, 200);
    color: rgb(254, 242, 255);
}
.favourite:active{
    background: rgb(212, 112, 243) !important;
}
.modal{
    z-index: 10;
}
.card-action a{
    color: rgb(155, 2, 155) !important;
}
.card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tooltipped{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.tick{
    display: none;
    width: 26px;
    height: 26px;
}
.material-tooltip{
    background: #E74C3C;
}
.favourNew{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
    flex-direction: column;
}
.favourNew h4{
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}
.favourLink{
    display: flex;
    align-items: center;
}
.favouriteUrl{
    font-size: 18px;
    color: rgb(151, 36, 185);
    margin-right: 20px;
}
.favourLink i{
    cursor: pointer;
}
.favourLink i:hover{
    color: #E74C3C;
}
.empty{
    text-align: center;
    font-size: 20px;
    color: rgb(114, 23, 141);
}